<html>
<!DOCTYPE html>
<html manifest1="chemEditor.manifest1">
<head>
	<meta charset="UTF-8">
	<title>Chem-Struct</title>
    <script src="{{
          url_for('static', filename='kekule/kekule.js') }}?modules=chemWidget,algorithm"></script>
	<!--
	<script src="../../../../src/kekule.js?modules=chemWidget,algorithm&min=false"></script>
	-->
	<link rel="stylesheet" type="text/css" href="{{
          url_for('static', filename='kekule/themes/default/kekule.css') }}" />

	<script>

		var chemEditor;
		var chemComposer;

		function init()
		{
			var elem = document.getElementById('composer');
			var chemEditor = new Kekule.Editor.ChemSpaceEditor(document, null, Kekule.Render.RendererType.R2D);
			chemComposer = new Kekule.Editor.Composer(elem, chemEditor);
            cmpListBtn = {'text': 'Sample Structures', 'buttonKind': 'K-Kind-DropDown',
                         'cssText': 'width:auto', 'showText': true,
                         '#execute': function(){
                             alert('Figure out how to populate a list');
                         } };
             // composer.setChemObj(molecule);
            searchBtn = {'text': 'Analyze', 'buttonKind': 'K-Kind-Search',
                         'cssText': 'width:auto', 'showText': true,
                         '#execute': function(){
                             // Get all molecules inside editor
                            var mols = chemComposer.exportObjs(Kekule.Molecule);
                            if (mols.length > 1)
                            {
                                alert('You have disconnected molecular fragments');
                                return;
                            }
                            post_to_url('/predict', {'mol':Kekule.IO.saveFormatData(mols[0], 'mol')});
                         } };
            chemComposer
              .setEnableStyleToolbar(true)
              .setEnableOperHistory(true)
              .setEnableLoadNewFile(true)
              .setEnableCreateNewDoc(true)
              .setAllowCreateNewChild(true)
              .setCommonToolButtons(['newDoc', 'loadData', 'saveData', 'undo', 'redo', 'copy', 'cut', 'paste',
                'zoomIn', 'reset', 'zoomOut', 'config', 'objInspector', cmpListBtn, searchBtn])
              .setChemToolButtons(['manipulate', 'erase', 'bond', 'atom', 'formula',
                'ring', 'charge'])   // create only chem tool buttons related to molecule
              .setStyleToolComponentNames(['fontName', 'fontSize', 'color',
                'textDirection', 'textAlign']);  // create all default style components

			// adjust size
			adjustSize();

			window.onresize = adjustSize;
		}
		function adjustSize()
		{
			var dim = Kekule.HtmlElementUtils.getViewportDimension(document);
			chemComposer.setWidth(dim.width - 50 + 'px').setHeight(dim.height - 200 + 'px');
		}
        function post_to_url(path, params) {
            // Lifted from https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }
		Kekule.X.domReady(init);
	</script>
</head>
    <body onload="init()">
        <h1>Chem-Struct</h1>

        <h3><a href='https://github.com/kgkroenlein/chem-struct/blob/master/README.md'>A web application for relating chemical properties to underlying structure</a></h3>
        <form id="str-search" action='/str-search'>Search by identifier:
            <input type='text' />
            <input type='submit' />
        </form>
        <p>-OR- draw your own molecule</p>
        <div id="composer" style="width:800px;height:600px"></div>
</html>
