<html>
<!DOCTYPE html>
<html manifest1="chemEditor.manifest1">
<head>
	<meta charset="UTF-8">
	<title>Chem-Struct</title>
    <script src="{{
          url_for('static', filename='kekule/kekule.js') }}?modules=chemWidget,algorithm"></script>
	<!--
	<script src="../../../../src/kekule.js?modules=chemWidget,algorithm&min=false"></script>
	-->
	<link rel="stylesheet" type="text/css" href="{{
          url_for('static', filename='kekule/themes/default/kekule.css') }}" />

	<script>

		var chemEditor;
		var chemComposer
		function init()
		{
			var elem = document.getElementById('composer');
			var chemEditor = new Kekule.Editor.ChemSpaceEditor(document, null, Kekule.Render.RendererType.R2D);
			chemComposer = new Kekule.Editor.Composer(elem, chemEditor);
            chemComposer.setPredefinedSetting('fullFunc');

			// adjust size
			adjustSize();

			window.onresize = adjustSize;
		}
		function adjustSize()
		{
			var dim = Kekule.HtmlElementUtils.getViewportDimension(document);
			chemComposer.setWidth(dim.width - 50 + 'px').setHeight(dim.height - 200 + 'px');
		}

		Kekule.X.domReady(init);
	</script>
</head>
    <body onload="init()">
        <h1>Chem-Struct</h1>

        <h3><a href='https://github.com/kgkroenlein/chem-struct/blob/master/README.md'>A web application for relating chemical properties to underlying structure</a></h3>
        <form id="str-search" action='/str-search'>Search by identifier:
            <input type='text' />
            <input type='submit' />
        </form>
        <p>-OR- draw your own molecule</p>
        <div id="composer" style="width:800px;height:600px"></div>
</html>
